In [47]:
print("Welcome\n Stay Home Stay Safe")

Welcome
 Stay Home Stay Safe

In [48]:
def a(x,y):
    return x+y

In [50]:
a(2,3)

5

In [52]:
i = a(2,3)

In [53]:
i

5

In [57]:
type(i)

int

In [49]:
def b(x,y):
    print(x+y)

In [54]:
u = b(2,3)

5

In [55]:
u

In [56]:
type(u)

NoneType

In [ ]:
# introduction to *kargs, **kargs

In [ ]:
*kargs ---> non keyword arguments

**kargs ---> keyworded argumets

In [58]:
def name(n):
    print(n)

In [60]:
name('srividya','sravani')

TypeError: name() takes 1 positional argument but 2 were given

In [65]:
def name1(*name):
    print(type(name))

In [66]:
name1('srividya','sravani','mamatha','rajesh','vali','pranitha')

<class 'tuple'>

In [ ]:
**kargs ---> keyword argumets

In [67]:
def d(**k):
    print(k)

In [68]:
d(first_name = 'siva', last_name = 'ram')

{'first_name': 'siva', 'last_name': 'ram'}

In [73]:
def my_fun(**k):
    for key,values in k.items():
        print(f"\nkey :{key}")
        print(f"value :{values}")

In [74]:
my_fun(lan='sql',fav='python')

key :lan
value :sql

key :fav
value :python

In [ ]:
# split()

In [79]:
l = input().split(' ')

1 2 5 8 98

In [80]:
l

['1', '2', '5', '8', '98']

In [ ]:
# filter()  -----> it is used filter data


# map()    ----> to do some operation on data

In [81]:
l = [1,2,85,9,62,8,10,12,64]

In [82]:
print(l)

[1, 2, 85, 9, 62, 8, 10, 12, 64]

In [ ]:
# synatx of filter



# filter(function,seq)

In [83]:
def is_even(n):
    return n%2 == 0

In [88]:
l1 = list(filter(is_even,l))

In [89]:
l1

[2, 62, 8, 10, 12, 64]

In [ ]:
# lambda:-
--------

# lambda is anonymous function or function with no name

In [ ]:
# syntax:-
----------

# x = lambda argumets: expression

In [90]:
x = lambda c:c*c

In [91]:
x(6)

36

In [92]:
y = lambda a,b,c:a+b+c

In [93]:
y(1,2,3)

6

In [94]:
l = [2,6,9,8,10,50]

In [95]:
l

[2, 6, 9, 8, 10, 50]

In [96]:
l2 = list(filter(lambda x:x%2==0, l))

In [97]:
l2

[2, 6, 8, 10, 50]

In [ ]:
# map() ----> it is used to modify the data

In [98]:
l = input().split(' ')

1 2 3 5 8

In [99]:
l

['1', '2', '3', '5', '8']

In [ ]:
# map(fucntion, seq)

In [100]:
l1 = list(map(int,l))

In [101]:
l1

[1, 2, 3, 5, 8]

In [102]:
l2 = list(map(int,input().split(' ')))

1 2 5 8 52 51

In [103]:
l2

[1, 2, 5, 8, 52, 51]

In [106]:
l2[2]

5

In [104]:
l3 =list(map(lambda x:x+2, l2))

In [105]:
l3

[3, 4, 7, 10, 54, 53]

In [107]:
x = 7

In [108]:
x

7

In [110]:
type(x)

int

In [ ]:
True,